/* =========================================
   PrismJS — Flexoki Dark theme
   palette: https://stephango.com/flexoki
   ========================================= */

code[class*="language-"],
pre[class*="language-"] {
    color: #CECDC3;
    /* base-200 */
    background: none;
    text-shadow: none;
    font-family: var(--font-code);
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em;
    background: #100F0F;
    /* black */
}

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
    background: #1C1B1A;
    /* base-950 */
}

/* ------- tokens ------- */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: rgb(159, 157, 150);
    /* base-400 */
    font-style: italic;
}

.token.punctuation {
    color: #9F9D96;
    /* base-300 */
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: rgb(232, 112, 95)
        /* red-300 */
}

.token.boolean,
.token.number {
    color: rgb(236, 139, 73)
        /* orange-300 */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: rgb(160, 175, 84)
        /* green-300 */
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: rgb(228, 125, 168);
    /* magenta-300 */
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: rgb(102, 160, 200);
    /* blue-300 */
}

.token.keyword {
    color: rgb(166, 153, 208);
    /* purple-300 */
}

.token.regex,
.token.important {
    color: rgb(90, 189, 172);
    /* cyan-300 */
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}