<!DOCTYPE html>
<!--
    .-'"'-.
   / #     \
  : #       :
   \       /
    \     /
     `'q'`
       ( 
        )       
       (          
        )      
       
Hey, you found my missing balloon. Thank you! :)
-->
<html lang="{{ page.lang | default: " en" }}">
{%- include head.html -%}

<body a="{{ site.theme_config.appearance | default: " auto" }}">
  <main class="page-content" aria-label="Content">
    <div class="w">
      {{ content }}
    </div>
  </main>

  {%-include goat_counter.html-%}

  <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

  {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
  {% endfor %}
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <div id="scroll-to-top" title="Back to Top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
  </div>
</body>

</html>