---
layout: default
---

{%-include back_link.html-%}

{% assign words = content | number_of_words %}
{% assign read_time = words | divided_by: 200 %}
{% if read_time < 1 %}{% assign read_time=1 %}{% endif %} <article>
  <aside id="toc-sidebar">
    <div class="toc-meta">
      <div class="toc-title">{{ page.title }}</div>
      <div class="toc-time">{{ read_time }} min read</div>
    </div>
    <div class="toc-wrapper">
      <div class="toc-line"></div>
    </div>
  </aside>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>

  <h1>{{ page.title }}</h1>



  {{ content }}
  <aside id="footnote-sidebar"></aside>
  </article>


  {% if page.tags.size > 0 %}
  <br>
  <p class="post-tags">
    tags:
    {% for tag in page.tags %}
    <a href="{{ '/tags.html' | relative_url }}#{{ tag | slugify }}">#{{ tag }}</a>{% unless forloop.last %}, {%
    endunless
    %}
    {% endfor %}
  </p>
  {% endif %}

  <hr>

  <p>Hey, I'd love to hear your thoughts! Just <a href="mailto:mllamazares@protonmail.com">drop me an email</a>.
  </p>